html,
body,
#root {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

.divLogin {
  width: 100%;
  height: 100%;

  display: flex;
}

.divLoginContainer {
  flex: 1;
}

.login-bg-login-image {
  flex: 1;
  background: url("../../static/4all_logo.svg") no-repeat center center / 50% !important;
}
